# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.venv/
venv/
ENV/
env/
.ipynb_checkpoints

# Testing
.pytest_cache/
.coverage
.tox/
.nox/

# IDE/editor
.vscode/
.idea/
*.swp

# Logs
*.log

# Local data
/data/

# OS
.DS_Store
Thumbs.db

*.sublime-*
